<div class="desktop">
    <div *ngIf="!showPdf" style="width: 80%;"></div>
    <pdf-viewer [src]="link" [render-text]="true" [original-size]="false" *ngIf="showPdf">
    </pdf-viewer>
    <div class="d-flex flex-column">
        <img src="assets/web-MMM-13.png" alt="logo" width="400" height="auto">
        <ng-container *ngIf="step == 1">
            <ng-container *ngFor="let signIndex of signs">
                <div *ngIf="signedPdf[signIndex]">
                    <p class="mb-2">{{title[signIndex]}}</p>
                    <img src="/api/files/{{id}} {{signIndex}}.jpg" />
                </div>
                <app-drawarea class="mb-2" [title]="title[signIndex]" [width]="drawareaWidth"
                    (onSign)="save($event,signIndex)" *ngIf="!signedPdf[signIndex]"></app-drawarea>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="step == 2">
            <h2>The signature requeriment <br>has been completed</h2>
            <a href="{{link}}" class="btn btn-small btn-primary" download="cost-agreement.pdf">Download your signed cost
                agreement here</a>
        </ng-container>
    </div>
</div>

<div class="movil">
    <pdf-viewer [src]="link" [render-text]="true" [original-size]="false" *ngIf="stepMovil==1">
    </pdf-viewer>
    <div *ngIf="stepMovil==2">
        <img src="assets/web-MMM-13.png" alt="logo" width="100%" height="auto">
        <div class="signs" *ngIf="step == 1">
            <ng-container *ngFor="let signIndex of signs">
                <div *ngIf="signedPdf[signIndex]">
                    <p class="mb-2">{{title[signIndex]}}</p>
                    <img src="/api/files/{{id}} {{signIndex}}.jpg" />
                </div>
                <app-drawarea class="mb-2" [title]="title[signIndex]" (onSign)="save($event,signIndex)"
                    [width]="drawareaWidth" *ngIf="!signedPdf[signIndex]"></app-drawarea>
            </ng-container>
        </div>
        <ng-container *ngIf="step == 2">
            <h2>The signature requeriment <br>has been completed</h2>
            <a href="{{link}}" class="btn btn-small btn-primary" download="cost-agreement.pdf">Download your signed cost
                agreement here</a>
        </ng-container>
    </div>
    <div class="float-bottom btn-group" *ngIf="step == 1">
        <div class="btn btn-secondary" [ngClass]="{'disabled':stepMovil == 1}" (click)="stepMovil = 1">Back
        </div>
        <div class="btn btn-primary" [ngClass]="{'disabled':stepMovil == 2}" (click)="stepMovil = 2">
            Next</div>
    </div>
</div>