:host {
    height: 100%;

    @media (min-width:900px) {
        >div.desktop {
            display: flex;
            height: 100%;

            >pdf-viewer {
                width: 80%;
            }

        }
    }



    .movil {
        display: none;
    }

    @media (max-width:900px) {
        .movil {
            display: flex;
            flex-direction: column;

            >pdf-viewer {
                width: 100%;
                height: 800px;
            }
            div#scroll{
                flex-direction: column;
                display: flex;
            }
            .signs{
                height: 650px;
                overflow-y: scroll;
            }

            .float-bottom {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }

        .desktop {
            display: none;
        }
    }
}